/* --------------- GLOBALES ----------- */
html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: inline-block;
    width: 100%;
    height: 70px;
    background: rgb(255, 255, 255);
}

.logo {
    display: inline-block;
    margin-right: auto;
    margin-top: 13px;
    margin-left: 25px;
}

nav {
    display: inline-block;
    margin-left: 300px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
    display: inline-block;
    margin-right: 30px;
    font-weight: bold;
    
}

nav a:hover{
    color: rgb(153, 153, 153);
}

/* --------------- INDEX ----------------- */ 

.detel{
    margin-left:8%;
    margin-top: 230px;
}
h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}
span{
    color: rgb(134, 134, 134);
    font-size: 47px;
    text-decoration: none;
    font-weight: bold;
}

/* Presentacion */
.detel p{
    color: #3a3a3a;
    line-height: 25px;
    font-size: 19px;
    margin-left: 40px;
}
/* Boton de descarga de CV */
.detel a{
    background:#212121;
    padding: 15px 5%;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    margin: 30px 70px;
    border-radius: 5px;
    margin-left: 130px;
}
.detel a:hover{
    color: rgb(90, 90, 90);
}

/* Acomodar aqui */
/* Clase de las imagenes */

.images{
    display: flex;
    width: 20px;
    margin: 10px;
    padding: 10px 10;
    align-items: left;
    justify-content: space-between;
}
/*--- Foto de bran ---*/
.images img{
    height: 85%;
    position: absolute;
    left: 74%;
    bottom: 0%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}
.images:hover .shape{
   left: 70%;
}
.images:hover .form{
    left: 1070px;
}

/* --------------- Acerca de mi / About ----------------- */ 


.hero_about{
    position: relative;
    width: 100%;
    height: 65px;
}
.about{
    display: grid;
    justify-content: center;
    background-color: #e2e0e0;
}
.infe {
    text-align: center;
    display: inline-block;
    list-style: none;
}
.infe h1{
    margin-top: 14px;
    text-align: center;
    margin-bottom: 15px;
}
.glass{
    text-align: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.50), rgba(255, 255, 255, 0.50));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 30px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 18px 22px 0 rgba(0, 0, 0, 0.27);
    margin-bottom: 30px;
}
p{  
    font-size: 14px;
}
h2{
    margin-bottom: 30px;
}

 /* ---------------------- Portfolio ---------------------- */

.hero_portfolio{
    position: relative;
    width: 100%;
    height: 65px;
    background: #ffffff;
}

.proyectos-fondo{
    background-color: #e4e4e4;
    height: auto;
    width: auto;
}

.portafolio h1{
    text-align: center;
    margin-bottom: 10px;
}

.galeria{
    display: grid; /* para que la imagen se centre horizontalmente */
    grid-template-columns: 33% 33%;
    max-width: 100%;
    gap: 1em;
    justify-content: center;
}

.galerias{
    justify-content: center;
    padding: 5px 5px 3px 5px;
    background-color: #ffffff93;
    border-radius: 10px;
    margin-bottom: 15px;
}

.galerias img{
    border-radius: 5px;
    display: grid; /* para que la imagen se centre horizontalmente */
    max-width: 100%; /* para que la imagen no sobrepase el ancho del contenedor */
}

.galerias:hover{
    box-shadow: 0 0 10px; #666;
    scale: 1.04;
}

/*------- TEXTO --------*/
.gtx{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
button{
    margin-left: 183px;
    padding: 5px 20px;
    margin-bottom: 10px;
    background-color: #000;
    color: #ffffff;
    border-radius: 5px;
}
button:hover{
    background-color: #323232;
    padding: 5px 20px;
    animation-duration: 2s;
}